:root {
    --primary-color: #CE584E;
    --secondary-color:#E4A57D;
    --third-color: #884A65;
    --shadow-color: #BABECC;
    --color-bg: #f4f6f6;
    --font-size: 17px;
}

.customBorder {
    border: 2px solid #EE9F9F !important;
}
