:root {
    --primary-color: #CE584E;
    --secondary-color:#E4A57D;
    --third-color: #884A65;
    --shadow-color: #BABECC;
    --color-bg: #f4f6f6;
    --font-size: 17px;
}

.customBorder {
    border: 2px solid #EE9F9F !important;
}

.btn-sign-in {
    color: var(--third-color) !important;
    /*border: 2px solid white !important;*/
    background: white !important;/* default color */
    /*background: linear-gradient(to left, white 50%, rgb(124 83 146) 50%) right !important;*/
    background-size: 200% !important;
    /*transition: .5s ease-out !important;*/
    font-size: 20px !important;
}

.btn-sign-in:hover {
    /*color: white !important;*/
    /*background-position: left !important;*/
    box-shadow:inset 0px 1px 10px 0px var(--third-color);

}


.form-inscription {
    width: 30%;
    margin: 27px;
    box-shadow:inset 0px 1px 3px 0px var(--shadow-color);
    border-radius: 5%;
    border: 2px solid var(--third-color);
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    padding: 50px;
    background-color: white;
}

.form-connexion {
    width: 30%;
    margin: 27px;
    box-shadow:inset 0px 1px 3px 0px var(--shadow-color);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    padding: 50px;
    background-color: var(--third-color);
}

.form-inscription:hover .form-connexion:hover {
    cursor: pointer;
    box-shadow: 0px 0px 11px 4px rgba(186,190,204,0.34);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.team-member {
    width: 100%;
    /*margin: 27px;*/
    box-shadow:inset 0px 1px 3px 0px var(--shadow-color);
    border-radius: 10px;
    border: 2px solid var(--third-color);
    padding: 50px;
    background-color: white;
}
